<button class="btn btn-danger"  [routerLink]="['/admin-login']">
    Cerrar sesión
</button>

<div class="container py-4" style="margin: auto;">
    <h1>Vista Chef</h1>
    <div style="margin: auto; " class="card" >
        <br>
        <button class="btn btn-primary mx=3"  [routerLink]="['/tomar-pedido']">
            Tomar Pedido
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/gestion-pedido']">
            Gestión Pedido
        </button>
        <br>    
        <button class="btn btn-primary mt=3"  [routerLink]="['/reasignar-pedido']">
            Reasignar Pedido
        </button>
        <br>
        <br>
    </div>
</div>

    
