
<button class="btn btn-danger"  [routerLink]="['/location-selection']">
    Back
</button>


<div class="container py-4" style="margin: auto;"> 
    <div style="margin: auto; " class="card" >

        <br>
        <h3 [ngStyle]="{'text-align':'center'}">
            Selecione su película
        </h3>
        <br>
        <div style="margin: auto;">
            <button class="btn btn-primary" (click)="chageImageL()">
                 <
            </button>

            <img [src] ="movies[i]" alt="">
        
            <button class="btn btn-primary" (click)="chageImageR()">
                >
            </button>
        </div>
        <br>
        
        <div style="margin: auto;">
            <button class="btn btn-primary"  [routerLink]="['/proyection-selection']">
                Seleccionar
            </button>
        </div>
    </div>
</div>
