<button class="btn btn-danger"  [routerLink]="['/admin-login']">
    Back
</button>

<div class="container py-4" style="margin: auto;">
    <div style="margin: auto; " class="card" >
        <br>
        <button class="btn btn-primary mx=3"  [routerLink]="['/incorporate-location']">
            Sucursal
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-movie']">
            Película
        </button>
        <br>    
        <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-screen']">
            Sala
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-proyection']">
            Proyecciones
        </button>
        <br>
    </div>
</div>

    
