<button class="btn btn-danger"  [routerLink]="['/admin-login']">
    Cerrar sesión
</button>

<div class="container py-4" style="margin: auto;">
    <div style="margin: auto; " class="card" >
        <br>
        <button class="btn btn-primary mx=3"  [routerLink]="['/gestion-tipos']">
            Gestión Tipos de Platos
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/gestion-menu']">
            Gestión Menú
        </button>
        <br>    
        <button class="btn btn-primary mt=3"  [routerLink]="['/reportes']">
            Reportes
        </button>
        <br>
        <br>
    </div>
</div>

    
