<ul>
    <button class="btn btn-danger"  [routerLink]="['/admin-options']">
        Back
    </button>
</ul>

<form (ngSubmit)="PostL()">
    <p>ID Sucursal</p>
    <input type="number" name = "idLocation" class="form-control" placeholder="Aqui va el id de la Sucursal" [(ngModel)] = "dataL.idLocation" required #IdL = 'ngModel'>

    <p>Nombre Sucursal</p>
    <input type="text" name = "name" class="form-control" placeholder="Aqui va el Nombre de la Sucursal" [(ngModel)] = "dataL.name" required #NameL = 'ngModel'>

    <p>Lugar</p>
    <input type="text" name = "place" class="form-control" placeholder="Aqui va la ubicacion de la Sucursal" [(ngModel)] = "dataL.place" required #Place = 'ngModel'>

    <p>Numero de Salas</p>
    <input type="number" name = "numScreens" class="form-control" placeholder="Aqui va el numero de salas de la Sucursal" [(ngModel)] = "dataL.numScreens" required #NumS = 'ngModel'>

    <ul>
        <button class="btn btn-danger" [disabled]="NameL.invalid || IdL.invalid || Place.invalid || NumS.invalid" >
            Ingresar Sucursal
        </button>
    </ul>
</form>




<form (ngSubmit)="PostS()">
    <p>ID Sala</p>
    <input type="number" name = "IdLocation" class="form-control" placeholder="Aqui va el id de la Sala" [(ngModel)] = "dataS.idScreen" required #IdS = 'ngModel'>

    <p>Nombre Sala</p>
    <input type="text" name = "name" class="form-control" placeholder="Aqui va el Nombre de la Sala" [(ngModel)] = "dataS.name" required #NameS = 'ngModel'>

    <p>Filas</p>
    <input type="number" name = "Place" class="form-control" placeholder="Numero de filas" [(ngModel)] = "dataS.row" required #Row = 'ngModel'>

    <p>Columnas</p>
    <input type="number" name = "NumScreens" class="form-control" placeholder="Numero de Columnas" [(ngModel)] = "dataS.column" required #Column = 'ngModel'>

    <p>Columnas</p>
    <input type="number" name = "capacity" class="form-control" placeholder="Numero de asientos" [(ngModel)] = "dataS.capacity" required #Capacity = 'ngModel'>

    <ul>
        <button class="btn btn-danger" [disabled]="NameS.invalid || IdS.invalid || Row.invalid || Column.invalid || Capacity.invalid" >
            Ingresar Sala
        </button>
    </ul>
</form>
