<button class="btn btn-danger"  [routerLink]="['/admin-options']">
    Back
</button>

<div class="container py-4" style="margin: auto;">
    <div style="margin: auto; " class="card" >
        <br>
        <button class="btn btn-primary mx=3"  [routerLink]="['/']">
            Crear menú
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/']">
            Actualizar menú
        </button>
        <br>    
        <button class="btn btn-primary mt=3"  [routerLink]="['/']">
            Eliminar menú
        </button>
        <br>
        <br>
    </div>
</div>

    
