<button class="btn btn-danger"  [routerLink]="['/admin-options']">
    Back
</button>

<div class="container py-4" style="margin: auto;">
    <div style="margin: auto; " class="card" >
        <br>
        <button class="btn btn-primary mx=3"  [routerLink]="['/crear-plato']">
            Crear plato menú
        </button>
        <br>
        <button class="btn btn-primary mt=3"  [routerLink]="['/actualizar-plato']">
            Actualizar plato menú
        </button>
        <br>    
        <button class="btn btn-primary mt=3"  [routerLink]="['/eliminar-plato']">
            Eliminar plato menú
        </button>
        <br>
        <br>
    </div>
</div>

    
