<ul>
    <button class="btn btn-danger"  [routerLink]="['/admin-options']">
        Back
    </button>
</ul>

<p>ID Película</p>
<input type="text" >

<p>ID Clasificación</p>
<input type="text" >

<p>ID Director</p>
<input type="text" >

<p>ID Protagonista</p>
<input type="text" >

<p>Nombre Original</p>
<input type="text" >

<p>Nombre Comercial</p>
<input type="text" >

<p>Imagen</p>
<input type="text" >

<p>Duración</p>
<input type="text" >

<ul>
    <button class="btn btn-danger" >
        Ingresar
    </button>
</ul>