
<button class="btn btn-secondary" [routerLink]="['/gestion-menu']">
  back
</button>

<div class="container py-4" style="margin: auto;">
  <div style="margin: auto; " class="card">
    <br>
    <h3 [ngStyle]="{'text-align':'center'}">
        Selecione el plato que quiere actualizar 
    </h3>
    <br>
  
    <select>
      <option *ngFor="let plato of platos" [value]="plato">{{plato}}</option>
    </select>

    <br>
    
    <div style="margin: auto; ">
      <button class="btn btn-primary" [routerLink]="['/']">
        Seleccionar
      </button>
    </div>
    

    <br>
  </div>

</div>


